/* @import url("https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@400;700&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overscroll-behavior-y: contain;
  height: 100%;
  overflow: hidden;
  color: black;
  font-family: "Cabin", "Roboto Condensed", sans-serif;
}

.react-datepicker-wrapper {
  width: 100% !important;
  display: block;
}

.react-datepicker__input-container {
  width: 100% !important;
}

.react-datepicker__input-container input {
  width: 100% !important;
  height: 2.5rem; /* same as h-10 */
  box-sizing: border-box;
}
