/* @import url("https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@400;700&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overscroll-behavior-y: contain;
  height: 100%;
  overflow: hidden;
  color: black;
  font-family: "Cabin", "Roboto Condensed", sans-serif;
}
